body {
    background-color: #00454E;
}


.con1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overskrift1 {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.con2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.underoverskrift1 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.kategori {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-bottom: -5px;
}

/* kommentar 1 */

.con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.con4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.profiltekst1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: -1px;
}

.profiltekst2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-top: -9px;
}

.kommentar1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 800px;
    line-height: 20px;
}

.liketekst1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.con5 {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding: 2px;
}

.con6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
}

/* kommentar 2 */

.con7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.con8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.profiltekst1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: -1px;
}

.profiltekst2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-top: -9px;
}

.kommentar2 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 800px;
    line-height: 20px;
}

.liketekst1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.con9 {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 2px;
}

.con10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
}

/* label */

.con11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
}

.tekstfelt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 30px;
    border-style: none;
    border-width: 0px;
    border-color: #00454E;
    padding-left: 20px;
}

.sendknap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    background-color: #CAE4E3;
    font-size: 20px;
    font-family: sans-serif;
    border-style: none;
    cursor: pointer;
    border-width: 0px;
    padding-right: 20px;
}

.logo {
    width: 20%;
    height: auto;
}
/* Media quarry */






