:root{
    --bg-colour: #ffffff; 
    --second-bg-colour: #00454E;
    --button-colour: #00454E;
    --second-button-colour: #FAE76A;
    --third-button-colour: #ffffff;
    --fourth-button-colour: #e33939;
    --fifth-button-colour: #9b3c7d;
    --font-colour: #00454E;
    --second-font-colour: #ffffff;
    --third-font-colour: #e33939;
}

