:root{
    --bg-colour: #ffffff; 
    --second-bg-colour: #00454E;
    --third-bg-colour: #e4f1f0;
    --button-colour: #00454E;
    --second-button-colour: #FAE76A;
    --third-button-colour: #ffffff;
    --fourth-button-colour: #e33939;
    --fifth-button-colour: #9b3c7d;
    --font-colour: #00454E;
    --second-font-colour: #ffffff;
    --third-font-colour: #e33939;
}

body{
    background: var(--second-bg-colour);

}

.tilbageknap{
    display: flex;
    background-color: #00454E;
    border: none;
    padding-left: 30px;
    fill: #FFFFFF;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
}

.clocktekst{
    font-family: sans-serif;
    font-size: 12px;
    display: inline-block;
    margin-left: 5px;
    margin-right: 10px;
}

.topcon1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline {
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.topcon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.category {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.topcon3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    margin: auto;
    margin-bottom: 25px;
}

.topcon4 {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 2px;
}

.description {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    max-width: 1000px;
    line-height: 20px;
    padding: 5px;
}

.topcon5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
}

.clocktekst{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
    padding: 2px;
}

.commentarytekst{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
    
}

.hjerte {
    fill: #9B3C7D;
    padding: 10px;
}

/* kommentar 1 */

.con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.con4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
    
}

.profiltekst1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: -1px;
}

.profiltekst2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-top: -9px;
}

.kommentar1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 800px;
    line-height: 20px;
}

.liketekst1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.con5 {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding-bottom: 10px;
    padding: 2px;
}

.con6 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
} 

/* kommentar 2 */

.con7 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}
.con8 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 20px;
}

.profiltekst1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: white;
    margin-top: -1px;
}

.profiltekst2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-top: -9px;
}

.kommentar2 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    max-width: 800px;
    line-height: 20px;
}

.liketekst1 {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 10px;
}

.con9 {
    display: inline-block;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    border: 1px;
    border-radius: 10px;
    padding-bottom: 5px;
    padding: 2px;
}

.con10 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: -10px;
}



/* label */

.con11 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-top: 40px;
}

.tekstfelt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 30px;
    border-style: none;
    border-width: 0px;
    border-color: #00454E;
    padding-left: 20px;
    outline: none;
}

.sendknap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 32px;
    background-color: var(--second-button-colour);
    font-size: 20px;
    font-family: sans-serif;
    border-style: none;
    cursor: pointer;
    border-width: 0px;
    padding-right: 20px;
}

.sendknap:hover{
    background-color: var(--third-bg-colour);
}