
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
* {
  font-family: sans-serif;
}

img {
  
  height: 80px;
}

.logo {
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  margin: 20px;
}

header {
  width: 100%;
  height: 80%;
  background: #CAE4E3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.100;
}



.hamburger {
  display: none;
}
.nav-bar ul {
  display: flex;
}
.nav-bar ul li a {
  display: block;
  color: #00454E;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 3px solid transparent;
  transition: 0.2s;
  margin: 5.5px;
}

.nav-bar ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  fill: #00454E;
}

.nav-bar ul li a:hover {
  border-bottom: 3px solid #707070;
}

.nav-bar ul li a.active {
color: #070707;
background: #fefefe;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10%;
  padding: auto;

  background-color: #00454E;
  color: white;
  text-align: center;
}
.ikon2 {
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  
}

@media (max-width: 800px) {
  .ikon2 a {
    max-width: 10%;
    height: 10%;
  }

}
@media only screen and (max-width:800px) {
  .footer {
      padding: 0 20px;
  }
}


@media only screen and (max-width:1320px) {
  header {
      padding: 0 50px;
  }
}
@media only screen and (max-width:1100px) {
  header {
      padding: 0 30px;
  }
}
@media only screen and (max-width:1200px) {
.hamburger {
    display: block;
    cursor: pointer; 
}
.hamburger .line {
  width: 30px;
  height: 3px;
  background: #fefefe;
  margin: 6px 0;
}
.nav-bar {
  height: 0;
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  width: 100vw;
  background: #CAE4E3;
  transition: 0.5s;
  overflow: hidden;
}
.nav-bar.active {
 height: 750px;

}

.nav-bar ul {
  display: block;
  width: fit-content;
  margin: 80px auto 0 auto;
  text-align: center;
  transition: 0.5s;
  opacity: 0;

}

.nav-bar.active ul{
opacity: 1;
}

.nav-bar ul li a {
  margin-bottom: 12px;
}
}


