* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #00454E;
    color: #FFFFFF;
    font-family: sans-serif;
}

.form-wrapper {
    display: grid;
    gap: 20px;
    margin-bottom: 25px;
}

h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.boxoverskrift {
    font-size: 22px;
    letter-spacing: .75px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.container {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    padding-bottom: 100px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-radius: 2px;
    padding: 10px;
}

textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.button-submit {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.button-submit1 {
    padding: 15px;
    width: 100%;
    background-color: #fae76a; 
    color: black; 
    transition-duration: 0.1s;
    cursor: pointer;
    font-size: large;
}

.button-submit1:hover {
    background-color: #CAE4E3;
    color: black;
  }
  

.dropdownmenu {
    display: block;
    position: relative;
}
.inputgroup {
    display: grid;
    gap: 8px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.select {
    width: 100%;
    padding: 20px;
}

.tilbageknap{
    display: flex;
    background-color: #00454E;
    border: none;
    padding-left: 30px;
    fill: #FFFFFF;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 40px;
}

footer{
    background-color: #CAE4E3;
}
h3{
    color: black;
}

@media (max-width: 600px) {
    .select {
        padding: 10px 5px;
    }

}

@media (max-width: 450px) {
    .container {
        padding-top: 25px;
        padding-left: 5px;
        padding-right: 5px;
    }
}