body {
    background-color: #00454E;
    color: #FFFFFF;
}

.boxoverskrift{
    font-size: 22px;
    letter-spacing: .75px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

input {
    width: 90%;
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-radius: 2px;
    padding: 10px;
}

textarea {
    width: 90%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}