body {
    background-color: #00454E;
    color: #FFFFFF;
    font-family: sans-serif;
}

.boxoverskrift{
    font-size: 22px;
    letter-spacing: .75px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 4%;
}

input {
    width: 100%;
    border: none;
    outline: none;
    padding-bottom: 5px;
    border-radius: 2px;
    padding: 10px;
}

textarea {
    width: 100%;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}

.button-submit{
    display: flex;
    justify-content: center;
}
.button-submit1{
    background-color: yellow;
    padding: 15px;
    width: 500px;
}

.dropdownmenu{
    display: block;
    position: relative;
}

.katergori1{
    width: 100%;
    padding: 20px;
}

.underkatergori1{
    width: 100%;
    padding: 20px;
}

.varighed1{
    width: 100%;
    padding: 20px;
}

.semester1{
    width: 100%;
    padding: 20px;
}