body{
    background-color: #00454E;
    color: #FFFFFF;
}

.overskriftminprofil{
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    padding-top: 20px;
}

.container{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0.5;
    font-family: sans-serif;
    margin-left: -280px;

}
.logudknap {
    display: flex;
    font-size: 15px;
    font-family: sans-serif;
    width: 450px;
    height: 50px;
    background-color: #F86868;
    color: #FFFFFF;
    border: none;
    justify-content: center;
    align-items: center;
    fill: #FFFFFF;
    cursor: pointer;
}

.logudknap a {
    text-decoration: none;
    color: #FFFFFF;
}

.logudknap:hover{
    background-color: red;
    color: #FFFFFF;
}

.knapcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tilbageknap{
    margin-top: 20px;
    display: flex;
    background-color: #00454E;
    border: none;
    padding-left: 30px;
    fill: #FFFFFF;
    cursor: pointer;
}

.mineindlæg{
    display: flex;
    flex-direction: column;
    fill: #FFFFFF;
    cursor: pointer;
}

.gemteindlæg{
    display: flex;
    flex-direction: column;
    fill: #FFFFFF;
    cursor: pointer;

}

.pil {
    position: relative;
    left: 280px;
}

.knappertilindlæg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



@media (max-width: 450px) {
    .container {
        padding: 10px;
        margin: 10px;
    }
    .overskriftminprofil {
        display: flex;
        font-size: 20px;
        text-align: left;
        justify-content: center;
        align-items: center;
    }
    .logudknap {
        width: 100%;
        height: auto;
    }
}