body {margin:0;
  background: #00454E;
}

.ressourceoverskrift {
  font-size: 22px;
  letter-spacing: .75px;
  line-height: 1.2;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-family: sans-serif;
  color: #fefefe;
  margin-bottom: 30px;
  margin-top: 30px;
}


.mainbox-underlinja {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 3px solid #fefefe;
  margin-left: 20%;
  margin-right: 20%;
 
  
  

}

.box1 {
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}


.overskrift {
  font-family: sans-serif;
  font-size: 20;
  color: #fefefe;
}





.undertekst {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #fefefe;
  font-family: sans-serif;

}


.pilbox {
  display: inline-block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 3;
  
  
}

.pilikon a   {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  fill: #fefefe;
}

.afstandtil-footer{
  display: flex;
  flex-direction: row;
  border-bottom: 100px solid #00454e00;
}
