*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font: normal 16px / 1.5em 'Open Sans',Helvetica,Arial,sans-serif;
    background-color: #333;
    -webkit-font-smoothing: antialiased;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    background-color: white;
    padding: 20px 50px;
    max-width: 680px;
    margin: auto;
    margin-top: 200px;
}

.text{
    text-align: center;
}
h1{
    font-size: 37px;
    font-weight: 200;
    line-height: 46px;
    margin: 20px;
}

h2{
    color: #c60000;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

button{
    background-color: #f9f9f9;
    border-color: #ccc;
    color: #444;
    display: block;
    font-size: 18px;
    line-height: 1.5em;
    margin: 10px auto;
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
}

button.logindbutton1{
    text-decoration: underline;
    font-size: bold;
    color: black;
    margin: 20px;
}

button:hover{
    background-color: #ccc;
}

a{
    background-color: transparent;
    color: #0055b0;
    margin: 20px;
    font-size: 12px;
}

p{
    margin: 20px;
    font-size: 15px;
}